<main>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 ">
					<div class="breadcrumbs mb-4"> <a href="index.html">Home</a>
						<span class="mx-1">/</span>  <a href="about.html">About</a>
					</div>
				</div>
				<div class="col-lg-8 mx-auto mb-5 mb-lg-0">
                    <%= image_tag "kupas_logo.png", loading: "lazy", decoding: "async", alt: "Author Image", class: "img-fluid w-100 mb-4" %>
					<h1 class="mb-4">Kupas News</h1>
					<div class="content">
						<p>Kupas News adalah portal berita digital yang hadir untuk menyajikan informasi terkini, terpercaya, dan mendalam kepada masyarakat Indonesia. Kami berdiri dengan semangat untuk menjadi sumber informasi utama yang memberikan perspektif jernih atas berbagai peristiwa penting, baik di tingkat lokal, nasional, maupun internasional.

						Sejak awal berdirinya, Kupas News berkomitmen mengedepankan prinsip jurnalisme yang akurat, objektif, dan bertanggung jawab. Tim redaksi kami terdiri dari jurnalis profesional yang bekerja dengan integritas tinggi untuk menghadirkan berita yang berimbang dan berkualitas.</p>
						<blockquote>
							<p>Sejarah Kupas News</p>
						</blockquote>
						<p>Kupas News didirikan pada tahun [tahun berdiri, misalnya 2018], bermula dari sebuah komunitas kecil jurnalis independen yang peduli terhadap kualitas informasi yang beredar di tengah masyarakat. Berangkat dari kebutuhan akan media yang mampu “mengupas” berita secara utuh dan menyeluruh, Kupas News hadir sebagai solusi bagi masyarakat yang haus akan informasi yang tajam dan faktual.

						Dengan dukungan teknologi dan semangat inovatif, Kupas News terus berkembang menjadi salah satu media online terpercaya di Indonesia. Kami tidak hanya menyajikan berita, tetapi juga analisis, opini, dan liputan mendalam di berbagai bidang seperti politik, ekonomi, teknologi, gaya hidup, hingga isu-isu sosial.</p>
					</div>
				</div>
        <div class="col-lg-4">
   <%= render 'wiget' %>
</div>
			</div>
		</div>
	</section>
</main>